<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sarafan</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>







<div th:switch="${#strings.toString(frontendData.roles[0])}">
    <div th:case="'USER'" id="app"></div>
    <div th:case="'VIEWER'" id="viewer"></div>
    <p th:case="*">User is some other thing</p>
</div>


<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'" ></script>

</body>
</html>